<% 
@alldimensions = ['order', 'height', 'shading']
@allmetrics = ['FLENGTH', 'LOC', 'MCOUNT', 'WMC']
@defaults = { 'order' => 'MCOUNT', 'height' => 'MCOUNT', 'shading' => 'LOC' }
%>

<form action="#" method="get">
	Showing bar chart for classes

	<% for dimension in @alldimensions %>
		<span class="formlabel"><%= dimension %>:</span>
		<select id="sel-<%= dimension %>" onclick="redraw()">
			<% for metric in @allmetrics %>
				<option value="<%= metric %>"<% if(metric == @defaults[dimension]) %> selected<% end %>><%= metric %></option>
			<% end %>
		</select>
	<% end %>
</form>
	
<script src="barchart.js"></script>
<script>

var data = null;
redraw = function(error, newData) {
	data = newData || data
	barchart.draw(data, {
		sort: $("#sel-order").find(":selected").text(),
		height: $("#sel-height").find(":selected").text(),
		shade: $("#sel-shading").find(":selected").text(),
	})
}
$(document).ready(d3.json("data.json", redraw));

</script>
