
<form action="#" method="get">
	Showing hotspot diagram for classes

	<span class="formlabel">order:</span>
	<select id="sel-order" onclick="redraw()">
		<option value="FLENGTH">FLENGTH</option>
		<option value="LOC">LOC</option>
		<option value="MCOUNT" selected>MCOUNT</option>
		<option value="WMC">WMC</option>
	</select>

	<span class="formlabel">height:</span>
	<select id="sel-width" onclick="redraw()">
		<option value="FLENGTH">FLENGTH</option>
		<option value="LOC" selected>LOC</option>
		<option value="MCOUNT" selected>MCOUNT</option>
		<option value="WMC">WMC</option>
	</select>

	<span class="formlabel">shading:</span>
	<select id="sel-shading" onclick="redraw()">
		<option value="FLENGTH">FLENGTH</option>
		<option value="LOC" selected>LOC</option>
		<option value="MCOUNT">MCOUNT</option>
		<option value="WMC">WMC</option>
	</select>
</form>
	
<script src="hotspotdiagram.js"></script>
<script>

var data = null;
redraw = function(error, newData) {
	data = newData || data
	hotspot.draw(data, {
		sort: $('#sel-order').find(":selected").text(),
		width: $('#sel-width').find(":selected").text(),
		shade: $('#sel-shading').find(":selected").text(),
	})
}
$(document).ready(d3.json("data.json", redraw));

</script>
