<% 
@alldimensions = ['order', 'height', 'shading']
@allmetrics = ['LOC', 'NOM', 'WMC', 'LOC/NOM', 'WMC/LOC', 'CBO', 'NOA', 'NOPUBM']
@defaults = { 'order' => 'NOM', 'height' => 'NOM', 'shading' => 'NOPUBM' }
%>

<form action="#" method="get">
	<input type="file" id="data-file" name="files[]">
	<hr>
	<select id="sel-layout" onclick="redraw()">
		<option value="hotspotdiagram" selected>Hot Spot Diagram</option>
		<option value="barchart">Bar Chart</option>
	</select>
	<% for dimension in @alldimensions %>
		<span class="formlabel"><%= dimension %>:</span>
		<select id="sel-<%= dimension %>" onclick="redraw()">
			<% for metric in @allmetrics %>
				<option value="<%= metric %>"<% if(metric == @defaults[dimension]) %> selected<% end %>><%= metric %></option>
			<% end %>
		</select>
	<% end %>
</form>
	
<script src="mseparser.js"></script>
<script src="barchart.js"></script>
<script src="hotspotdiagram.js"></script>

<script>

var data = null;

function redraw(error, newData) {
	if(newData) {
		data = MSE.parse(newData);
	}
	var layout = $("#sel-layout").find(":selected").attr("value");
	switch(layout) {
	case "barchart":
		barchart.draw(data, {
			sort: $("#sel-order").find(":selected").text(),
			height: $("#sel-height").find(":selected").text(),
			shade: $("#sel-shading").find(":selected").text(),
		});
		break;
	case "hotspotdiagram":
		hotspot.draw(data, {
			sort: $('#sel-order').find(":selected").text(),
			width: $('#sel-height').find(":selected").text(),
			shade: $('#sel-shading').find(":selected").text(),
		});
		break;
	}
}

function load(selEvent) {
	var reader = new FileReader();
	reader.onload = function(loadEvent) {
		redraw(null, loadEvent.target.result);
	}
	reader.readAsText(selEvent.target.files[0]); 
}

$('input[type=file]').change(load);
$(document).ready(d3.text("data.mse", redraw));

</script>

<div id="chart-wrapper">
</div>
